<div class="container mt-5">
  <h1 class="mc-heading h4 mb-4">Meal Plan</h1>

  <p class="text-secondary-mc">You haven't created a meal plan yet.</p>
  <%= link_to "Create your first meal plan", new_preference_path, class: "btn landing-btn-primary" %>
</div>
