<div class="container mt-5">
  <h1 id="chat_title">MacroChef Chat</h1>

  <div id="messages">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div id="new_message_container">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
