.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.mc-logo {
  font-family: $headers-font;
  font-weight: 700;
  font-size: 1.25rem;
  color: $mc-charcoal;

  &:hover {
    color: $mc-emerald-dark;
  }
}
